<!DOCTYPE html>
<html lang ="en">

<title>Deliver Planning System</title>
	<!--<link rel="icon" type="image/png" href="/static/images/logo.png">-->
	<meta charset = "utf-8"/>
	<link rel = "stylesheet" href = "/static/css/style.css" type = "text/css">
	<!--<script type = "text/javascript" src = "/static/js/js.js" ></script>-->
	<meta name = "viewport content= "width-device-width,initial-scale =1.0">
	<!--<<script type="text/javascript">
            window.location.href = ""/dps/index./""
        </script>-->

</head>
<body class = "body">
	<header class = "mainHead">
		<!--<center><img src = "/static/images/logo.png" height = "150" ></center>-->
		{% block content %}
		<form method="POST" action="/">
		{% csrf_token %}
<pre>
    UserName:   <input type="input" name="uname"> </input>Password:   <input type="password" name="password"> </input><input type="submit"value ="login"/>
	{{error}}
	</pre></form>
<!--	<center><a href = "/dps/login/"><b>Login</b></a><a href = "/dps/signup/"><b>SignUp</b></a></center>-->
	
		<nav>
			<ul>
			<li><a href = "/">Home</a></li>
			<li><a href = "/ourteam/">Team</a></li>
			<li><a href = "/about_us">About</a></li>
			<li><a href = "/contact_us">Contact Us</a></li>
			<li><a href = "/dps/login/">Login</a><a href = "/dps/signup/">SignUp</a></li>
			
			
			</ul>
		</nav>
	</header>
	<aside class = "asideinfo">
		<article>
			<h2>Welcome!</h2>
			<h1>Our Objectives</h1>
			<p>
			
				Support existing e-commerce systems in the valley.
				Provide efficient and intelligent delivery planning system.
				Help delivery workers keep track of their destination with a mobile app.
				Reduce human errors in route planning.
				Provide a one-stop solution to all the ecommerce and online businesses in the valley
			</p>

		</article>
</aside>
<div class = "mainContent">
		<div class = "content">
		
	
<script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAfYFDMGnfg6rxJi-CI25ywgR-HtyCcPTo&sensor=false">
</script>

<script>
var map;
 if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(initialize);
    } else {
        alert("Geo Location is not supported on your current browser!");
    }

//var mycenter = map.getCenter();
//var myCenter=new google.maps.LatLng(27.6843811,85.3185587);

function initialize(position)
{var lat = position.coords.latitude;
        var lon = position.coords.longitude;
        //var city = position.coords.locality;
        var myCenter = new google.maps.LatLng(lat, lon);
var mapProp = {
  center:myCenter,
  zoom:15,
  //disableDefaultUI:true,  to disable all default control
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

  
  
  map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
  marker=new google.maps.Marker({
  position:myCenter,
  title:'you are here',
  animation:google.maps.Animation.BOUNCE
  });
marker.setMap(map); 


//----------------getting longitude and lattitude by clicking on map---------------------------
 // google.maps.event.addListener(map, 'click', function(event) {
   // placeMarker(event.latLng);
  //});
}

function placeMarker(location) {
  var marker = new google.maps.Marker({
    position: location,
    map: map,
  });
  var infowindow = new google.maps.InfoWindow({
    content: 'Latitude: ' + location.lat() + '<br>Longitude: ' + location.lng()
  });
  infowindow.open(map,marker);
}

//--------------------------------------------------

google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="googleMap" style="width:100%;height:425px;"></div>

{%endblock%}

		</div>
		
	</div>


	<footer class = "mainFooter">
		<center><a href = "#" target= "_blank"><p>copyright@ </p></a></center>

	</footer>

</body>
<html>