<!DOCTYPE html>
<html lang ="en">

<title>Deliver Planning System</title>
	<!--<link rel="icon" type="image/png" href="/static/images/logo.png">-->
	<meta charset = "utf-8"/>
	<link rel = "stylesheet" href = "/static/css/index.css" type = "text/css">
	<!--<script type = "text/javascript" src = "/static/js/js.js" ></script>-->
	<meta name = "viewport content= "width-device-width,initial-scale =1.0">
	<!--<<script type="text/javascript">
            window.location.href = ""/dps/index./""
        </script>-->
		
</head>
<body class = "body">
	<header class = "mainHead">
		<!--<center><img src = "/static/images/logo.png" height = "150" ></center>-->
		<nav>
			<ul>
			<li><a href = "/">Home<a/></li>
			<li><a href = "/ourteam/">Team<a/></li>
			<li><a href = "/about_us/">About<a/></li>
			<li><a href = "/contact_us/">Contact Us<a/></li>
			<li><a href = "/dps/signup/">Sign Up<a/></li>
			</ul>
		</nav>
	</header>
<div class = "mainContent">
		<div class = "content">
		
{%block content%}
		
			

{%endblock%}

		</div>
		
	</div>


	<footer class = "mainFooter">
		<center><a href = "#" target = "_blank"><p>copyright@ </p></a></center>

	</footer>

</body>
<html>